/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font */
@font-face {
  font-family: 'kaushan';
  src: url();
}

/* Style */
body{
  background-color: #eaeaea;
  font: 16px/18px arial , sans-serif;

}
.container{
  width: 960px;
  background-color: #fff;
  margin: auto;
}

.header .judul{
margin-top: 20px;
font-weight: bold;
font-size: 40px;
padding: 25px;
}

.header ul li {
display: inline-block;
margin-top: 5px;
margin-bottom: 5px;
padding: 15px;
}
.header a{
  color: salmon;
  margin-left: 10px;
}
.header a:hover{
  color: white;
  background-color: lightskyblue;
}
.hero{
  height: 360px;
  background-image: url(../../Documents/computer.jpg);
  background-size: cover;
  background-position: 0 -100px;
  background-repeat: no-repeat;
  border-top: 2px solid red;
  border-bottom: 2px solid blue;
}

.main{
  width: 600px;
  margin: 10px;
  float: left;
  box-sizing: border-box;
  background-color: beige;
}
.main h2{
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.main .penulis{
font-size: 13px;
padding: 5px;
margin-top: -15px;
margin-bottom: 10px;
margin-left: 5px;
}
.main p{
  font: 16px/28px arial,sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
}
.main .penulis a{
  color: salmon;
  text-decoration: none;
}

.footer{
  background-color: #333;
  height: 50px;
}
.footer p{
  color: white;
  text-align: center;
  line-height: 50px;
}

.sidebar{
  width: 300px;
  float: right;
}
.sidebar h3{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar p {
font: 13px/16px arial , sans-serif;

}

.sidebar img{
  float: left;
  padding-right: 10px;
}


/* clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}